/* src/milkdown-theme.css */
.milkdown {
  --crepe-color-background: transparent;

  --crepe-font-title: var(--font-sans);
  --crepe-font-text: var(--font-sans);
  --crepe-font-mono: var(--font-mono);

  .ProseMirror {
    padding: 0px;
  }
}
